body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 75%;
}

#titlebar {
	background: #1B8EDE;
	padding: 10px;
	padding-left: 20px;
	color: white;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	border: 1px solid #1B75BB;
}

#error_message {
	margin-bottom: 20px;
}

#projects {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;	
	margin-right: 10px;
}

#projects .ui-selecting {
	background: #FFE069;
}

#projects .ui-selected  {
	background: #FFE069;
}

#pane_right {
	margin-top: 20px;
}

#results {
	background: #F8F8F8;
	border: 1px solid #DDDDDD;
	padding: 10px;
	font-size: 1.2em;
	overflow: scroll;
	margin: 0px;
	display: none;
	height: 600px;
}

.project {
	height: 70px;
	width: 350px;
	margin-bottom: 10px;
	padding: 15px;
	cursor: pointer;	
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.project_name {
	font-weight: bold;
	font-size: 1.2em;
	float: left;
}

.project_state {
	clear: both;
	float: left;
	margin-bottom: 5px;
}

.project_run_button {
	clear: both;
	float: left;
}

.project_enable_button, .project_edit_button, .project_delete_button 
{
	float: right;
	margin-left: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.project_enable_button.ui-state-active
{
	background: #7F0000;
}

#create_project {
	float: left;
	clear: both;
}

label, input {
	display:block;
}

fieldset {
	padding:0;
	border:0;
	margin-top:25px;
}

input.text {
	margin-bottom:12px;
	width:	100%;
	padding: .4em;
}

#trigger, #command {
	margin-bottom:12px;
	width:	100%;
	padding: .4em;
}
.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}

#install_form input {
	width: 300px;
}

.project_status {
	float: left;
	margin-left: 5px;
	width:	16px;
	height: 16px;
	display: block;
}

.project_status_failed  {
	background-image: url("images/status_failure.png");
}

.project_status_succeeded  {
	background-image: url("images/status_success.png");
}

.project_status_building  {
	background-image: url("images/status_running.gif");
}

#command, #trigger {
	font-family: "Lucida Console", "Courier New";
	font-size: 80%;
	width: 100%;
}

#command {
	height: 180px;
}

#trigger {
	height: 100px;
}

#logContainer pre {
    display: none;
}

#logContainer .outputVisible {
    display: block;
}

#logContainer .status {
    display: none;
}

#logContainer .header {
    padding: 10px;
    cursor: pointer;
}

#logContainer .success .header {
    background: green;
}

#logContainer .failed .header {
    background: red;
}

#logContainer .working .header {
    background: gray;
}